body{
    margin: 0;
    padding: 0;

}

.container1, .container2, .container3{
    margin: 18px;
}

.container1{
    background-color: yellow;
    height: 80px;
    
}

.container2{
    background-color: orange;
    height: 180px;
    padding: 10;
    
}

.container3{

    background-color: green;
    height: 380px;
}

#sub2-div1, #sub2-div2, #sub2-div3{
    box-sizing: content-box;
    display: inline-block;
    margin: 40px;
    background-color: greenyellow;
    width: 340px;
    height: 100px;
}

#sub2-div1{
    margin-left: 60px;
}

#sub3-div1{
    box-sizing: content-box;
    display: inline-block;
    background-color: brown;
    margin: 40px;
    width: 270px;
    height: 310px;
}
#sub3-div2{
    box-sizing: content-box;
    display: inline-block;
    background-color: cyan;
    margin: 40px;
    width: 850px;
    height: 310px;
}

.coluna1{
    box-sizing: content-box;
    float: left;
    width: 390px;
    height: 270px;
    margin-left: 30px;
    margin-top: 20px;
   
    
}

.coluna2{
    box-sizing: content-box;
    display: inline;
    float: left;
    width: 380px;
    height: 270px;
    margin-left: 10px;
    margin-top: 20px;
   
    
}

#col1-sub1, #col1-sub2{
    width: 348px;
    height: 108px;
    margin: 18px;
    background-color:rgb(161, 161, 7);
}

#col2-sub1, #col2-sub2{
    width: 344px;
    height: 108px;
    margin: 18px;
    background-color: rgb(161, 161, 7); 
}



 


